/*======================
    google font
======================*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500&family=Poppins:wght@300;400;500;600;700;900&display=swap');

/* font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif; */

/*======================
    common css
======================*/
body{
    font-family: 'Poppins', sans-serif;
}
h1,h2,h3,h4,h5,h6,p{
    margin: 0;
}
.btn {
    background: #E76F51;
    border-radius: 5px;
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    padding: 10px 46px;
    color: #fff;
    border: 1px solid #E76F51;
}
.btn-border {
    background: #fff;
    color: #E76F51;
}
.btn:hover {
    background: #fff;
    color: #e77c40;
}
.btn-border:hover {
    background: #e77c40;
    color: #fff;
}
img{
    width: 100%;
}
.mb-30{
    margin-bottom: 30px;
}
.mb-45{
    margin-bottom: 45px;
}
.mb-60{
    margin-bottom: 60px;
}
.mb-110{
    margin-bottom: 110px;
}
.mb-120{
    margin-bottom: 120px;
}
*:focus{
    box-shadow: none !important;
    outline: 0;
}

/*======================
    hero section
======================*/
#hero {
    background: #264653;
    padding: 80px 0;
}
.hero-text h5 {
    font-size: 14px;
    line-height: 22px;
    color: #fff;
    font-weight: 300;
}
.hero-text h2 {
    font-size: 48px;
    line-height: 72px;
    font-weight: 600;
    color: #fff;
}
.hero-text p {
    font-size: 16px;
    line-height: 24px;
    color: #E0E0E0;
    font-weight: 300;
    max-width: 456px;
    margin-top: 10px;
}
.hero-btn {
    margin-top: 20px;
}
.hero-text .modal-title {
    color: #264653;
    font-size: 20px;
    font-weight: 500;
}
.hero-text .modal-body p {
    color: #828282;
    font-weight: 400;
}

/*======================
    fetured section
======================*/
#fetured {
    padding: 64px 0;
}
.site-title h3 {
    font-size: 48px;
    line-height: 72px;
    color: #000;
    font-weight: 600;
}
.site-title h3 span {
    color: #e76f51;
}
.site-title h4 {
    font-size: 14px;
    line-height: 21px;
    color: #E76F51;
    margin-top: -5px;
    position: relative;
}
.site-title h4::before {
    position: absolute;
    content: '';
    width: 59px;
    height: 1px;
    background: #E76F51;
    bottom: -2px;
    left: 0;
    right: 0;
    margin: auto;
}
.fetured-single-img:nth-child(2n+1) .fetured-img img {
    mix-blend-mode: luminosity;
}
.fetured-img img {
    max-width: 288px;
    display: block;
    margin: auto;
}

/*======================
    latest news section
======================*/
#latest-news {
    padding: 70px 0;
}
.single-news {
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
}
.single-news .card {
    padding: 20px;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.single-news .card-body {
    padding: 0;
}
.single-news .card-title {
    font-size: 26px;
    line-height: 40px;
    font-weight: 600;
    color: #18191F;
    margin-top: 30px;
}
.single-news .card-body p {
    font-size: 16px;
    line-height: 32px;
    color: #6C6C6C;
    margin-bottom: 30px;
}
.single-news .btn {
    padding: 15px 36px;
}

/*======================
    happy client section
======================*/
#happy-client {
    padding: 60px 0;
}
.testimonial-card .card {
    padding: 40px 35px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.author-img {
    width: 149px;
    height: 149px;
    margin: auto;
    margin-bottom: 30px;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid #BDBDBD;
}
.testimonial-card p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    max-width: 245px;
    margin: auto;
    margin-bottom: 15px;
}
.testimonial-card .card-body {
    padding: 0;
}
.star i {
    font-size: 18px;
    color: #E77C40;
}
.author-name h4 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #23A6F0;
    font-weight: 600;
    margin-top: 5px;
}
.author-info h5 {
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #252B42;
    font-weight: 600;
    margin-top: 10px;
}

/*======================
    faq section
======================*/
#faq {
    padding: 70px 0;
}
.faq-img {
    max-width: 430px;
}

.accordion-part .accordion-button {
    color: #383838;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}
.accordion-part .accordion-item {
    margin-bottom: 13px;
    border: 1px solid #D5E5FB;
    border-radius: 5px;
    overflow: hidden;
}
.accordion-part .accordion-button:not(.collapsed) {
    background-color: #ffffff;
}
.accordion-part .accordion-body {
    padding-top: 0;
    color: #7E848C;
    font-size: 16px;
    line-height: 28px;
    font-weight: 400;
    font-family: 'Inter', sans-serif;
}
.accordion-part .accordion-button:not(.collapsed){
    box-shadow: none;
}
.accordion-part .accordion-button::after {
    width: 2.25rem;
    background-position: center;
}
.accordion-part .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

/*======================
    road bike section
======================*/
#road-biking {
    padding: 120px 0;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.biking-text h3 {
    color: #fff;
    font-size: 55px;
    line-height: 66px;
    margin-bottom: 10px;
    font-weight: 600;
}
.biking-text p {
    color: #fff;
    font-size: 22px;
    line-height: 33px;
    margin-bottom: 30px;
}
.biking-text a {
    background: transparent;
    font-weight: 600;
}

/*======================
    shop section
======================*/
#shop {
    padding: 120px 0 90px 0;
}
.buy-btn a{
    width: 100%;
}
.single-item {
    border-radius: 5px;
    overflow: hidden;
}
.single-item img {
    padding: 20px;
}
.product-title h2 {
    font-size: 24px;
    line-height: 1.2;
    margin-bottom: 10px;
}
.product-price h4 {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 4px;
}
.single-item p {
    font-size: 16px;
    line-height: 26px;
    letter-spacing: 0.2px;
    color: #6C6C6C;
    margin: 15px 0;
}

/*======================
    footer section
======================*/
#footer {
    background: black;
    padding: 40px;
}
p.copy-text {
    color: #fff;
    font-size: 14px;
}